---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { withBase } from "@lib/utils";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href={withBase("/")} underline={false}>
        <div class="font-semibold flex items-center">
          <span class="inline-block overflow-hidden whitespace-nowrap border-r-2 border-black dark:border-white pr-1 animate-typing">
            {SITE.NAME}
          </span>
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href={withBase("/blog")}>
          blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href={withBase("/work")}>
          Experience
        </Link>
        <span>
          {`/`}
        </span>
        <Link href={withBase("/projects")}>
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>

<style>
  .animate-typing {
    width: 0;
    animation: typing 2s steps(15, end) forwards, blink 0.8s infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: currentColor }
  }
</style>